<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZBYGate_Data_Collection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ZBYGate_Data_Collection.Properties.Settings>
            <setting name="Container_Ip" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Container_Port" serializeAs="String">
                <value>12011</value>
            </setting>
            <setting name="Container_Num" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Plate_IPAddr" serializeAs="String">
                <value>192.168.1.98</value>
            </setting>
            <setting name="Plate_Port" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="Plate_LED_Prefix" serializeAs="String">
                <value>0030323130393533</value>
            </setting>
            <setting name="Plate_Image_Path" serializeAs="String">
                <value>C:\\Image\\</value>
            </setting>
            <setting name="Plate_Local_IpAddr" serializeAs="String">
                <value>192.168.1.200</value>
            </setting>
            <setting name="Plate_Local_Message" serializeAs="String">
                <value>祝您一路顺风！</value>
            </setting>
            <setting name="CVR_Com" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CVR_Read_While" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Gate_InDoorSN" serializeAs="String">
                <value>223166359</value>
            </setting>
            <setting name="Gate_OutDoorSN" serializeAs="String">
                <value>223285189</value>
            </setting>
            <setting name="Gate_InDoorIp" serializeAs="String">
                <value>192.168.1.111</value>
            </setting>
            <setting name="Gate_OutDoorIp" serializeAs="String">
                <value>192.168.1.112</value>
            </setting>
            <setting name="Gate_Port" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="LED_nControlType" serializeAs="String">
                <value>1126</value>
            </setting>
            <setting name="LED_nScreenNo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LED_nWidth" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="LED_nHeight" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="LED_pSocketIP" serializeAs="String">
                <value>192.168.1.185</value>
            </setting>
            <setting name="LED_nSocketPort" serializeAs="String">
                <value>5005</value>
            </setting>
            <setting name="LED_nDYAreaID" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LED_nTimeOut" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="LED_nAreaX" serializeAs="String">
                <value>88,88,88,161,120</value>
            </setting>
            <setting name="LED_nAreaY" serializeAs="String">
                <value>29,55,81,56,107</value>
            </setting>
            <setting name="LED_nAreaWidth" serializeAs="String">
                <value>168,70,70,95,128</value>
            </setting>
            <setting name="LED_nAreaHeight" serializeAs="String">
                <value>19,19,19,42,19</value>
            </setting>
            <setting name="LED_nFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="LED_nFontColor" serializeAs="String">
                <value>65535</value>
            </setting>
            <setting name="LED_nDelAllDYArea" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LED_pDYAreaIDList" serializeAs="String">
                <value>0,1,2,3,4</value>
            </setting>
            <setting name="LED_nShowTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LocalDataBase_Conn" serializeAs="String">
                <value>Database='hw';Data Source='localhost';User Id='root';Password='Li870419';charset='utf8';pooling=true;SslMode=none</value>
            </setting>
        </ZBYGate_Data_Collection.Properties.Settings>
    </applicationSettings>
</configuration>